In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [46]:
absent = pd.read_excel('C:/Users/AJ/Documents/Workspace/Projects/Main Proj/Absenteism/Absenteeism_at_work.xls')
absent.rename(columns={'Son':'No. of Children'}, inplace=True)
absent

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,No. of Children,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,14,7,3,1,289,36,13,33,264604,...,0,1,2,1,0,1,90,172,30,8
736,1,11,7,3,1,235,11,14,37,264604,...,0,3,1,0,0,1,88,172,29,4
737,4,0,0,3,1,118,14,13,40,271219,...,0,1,1,1,0,8,98,170,34,0
738,8,0,0,4,2,231,35,14,39,271219,...,0,1,2,1,0,2,100,170,35,0
739,35,0,0,6,3,179,45,14,53,271219,...,0,1,1,0,0,1,77,175,25,0

In [20]:
absent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    int64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism time in hours        740 non-null    int64
dtypes: int64(21)
memory usage: 121.5 KB

In [5]:
absent.nunique()

ID                                 36
Reason for absence                 28
Month of absence                   13
Day of the week                     5
Seasons                             4
Transportation expense             24
Distance from Residence to Work    25
Service time                       18
Age                                22
Work load Average/day              38
Hit target                         13
Disciplinary failure                2
Education                           4
Son                                 5
Social drinker                      2
Social smoker                       2
Pet                                 6
Weight                             26
Height                             14
Body mass index                    17
Absenteeism time in hours          19
dtype: int64

In [6]:
absent['Reason for absence'].unique() # 0 = 20

array([26,  0, 23,  7, 22, 19,  1, 11, 14, 21, 10, 13, 28, 18, 25, 24,  6,
       27, 17,  8, 12,  5,  9, 15,  4,  3,  2, 16], dtype=int64)

In [35]:
absent['Day of the week'].unique()

array([3, 4, 5, 6, 2], dtype=int64)

In [16]:
absent[absent['Month of absence']==0].shape

(3, 21)

# Data conversion for analysis

In [47]:
# converting the reason for absence column
absent['Reason for absence'] = absent['Reason for absence'].replace({ 0 : 'Morbidity/mortality'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 1 : 'infectious/parasitic diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 2 : 'Neoplasms'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 3 : 'Blood diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 4 : 'Endocrine/nutritional/metabolic diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 5 : 'Mental/Behavioral diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 6 : 'Nervous system diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 7 : 'Eye and adnexa diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 8 : 'Ear and mastoid diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 9 : 'Circulatory system diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 10 : 'Resporatory system diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 11 : 'Digestive system diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 12 : 'Skin/Subcutaneous tissue diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 13 : 'Musculoskeletal/connective tissue diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 14 : 'Genitourinary system diseases'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 15 : 'Pregnancy/childbirth'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 16 : 'Perinatal period'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 17 : 'Congenital/deformations/chromosomal abnormalities'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 18 : 'Abnormal clinical/laboratory findings'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 19 : 'Injury/poisoning'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 21 : 'health status/contact with health services'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 22 : 'Patient follow-up'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 23 : 'Medical consultation'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 24 : 'Blood donation'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 25 : 'Laboratory examination'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 26 : 'Unjustified absence'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 27 : 'Physiotherapy'})
absent['Reason for absence'] = absent['Reason for absence'].replace({ 28 : 'Dental consultation'})

In [48]:
# converting the month of absence column
absent['Month of absence'] = absent['Month of absence'].replace({ 0 : 'January'})
absent['Month of absence'] = absent['Month of absence'].replace({ 1 : 'January'})
absent['Month of absence'] = absent['Month of absence'].replace({ 2 : 'Febuary'})
absent['Month of absence'] = absent['Month of absence'].replace({ 3 : 'March'})
absent['Month of absence'] = absent['Month of absence'].replace({ 4 : 'April'})
absent['Month of absence'] = absent['Month of absence'].replace({ 5 : 'May'})
absent['Month of absence'] = absent['Month of absence'].replace({ 6 : 'June'})
absent['Month of absence'] = absent['Month of absence'].replace({ 7 : 'July'})
absent['Month of absence'] = absent['Month of absence'].replace({ 8 : 'August'})
absent['Month of absence'] = absent['Month of absence'].replace({ 9 : 'September'})
absent['Month of absence'] = absent['Month of absence'].replace({ 10 : 'October'})
absent['Month of absence'] = absent['Month of absence'].replace({ 11 : 'November'})
absent['Month of absence'] = absent['Month of absence'].replace({ 12 : 'December'})

In [49]:
# converting day of the week column
absent['Day of the week'] = absent['Day of the week'].replace({ 2 : 'Monday'})
absent['Day of the week'] = absent['Day of the week'].replace({ 3 : 'Tuesday'})
absent['Day of the week'] = absent['Day of the week'].replace({ 4 : 'Wednesday'})
absent['Day of the week'] = absent['Day of the week'].replace({ 5 : 'Thursday'})
absent['Day of the week'] = absent['Day of the week'].replace({ 6 : 'Friday'})

In [50]:
# converting seasons column
absent['Seasons'] = absent['Seasons'].replace({ 1 : 'Summer'})
absent['Seasons'] = absent['Seasons'].replace({ 2 : 'Autumn'})
absent['Seasons'] = absent['Seasons'].replace({ 3 : 'Winter'})
absent['Seasons'] = absent['Seasons'].replace({ 4 : 'Spring'})

In [51]:
# converting Disciplinary failure column
absent['Disciplinary failure'] = absent['Disciplinary failure'].replace({ 1 : 'Yes'})
absent['Disciplinary failure'] = absent['Disciplinary failure'].replace({ 0 : 'No'})

In [52]:
# converting Education column
absent['Education'] = absent['Education'].replace({ 1 : 'High School'})
absent['Education'] = absent['Education'].replace({ 2 : 'Graduate'})
absent['Education'] = absent['Education'].replace({ 3 : 'Post Graduate'})
absent['Education'] = absent['Education'].replace({ 4 : 'Masters & Doctors'})

In [54]:
# converting Social drinker column
absent['Social drinker'] = absent['Social drinker'].replace({ 1 : 'Yes'})
absent['Social drinker'] = absent['Social drinker'].replace({ 0 : 'No'})

In [55]:
# converting Social smoker column
absent['Social smoker'] = absent['Social smoker'].replace({ 1 : 'Yes'})
absent['Social smoker'] = absent['Social smoker'].replace({ 0 : 'No'})

In [56]:
absent

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,No. of Children,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,Unjustified absence,July,Tuesday,Summer,289,36,13,33,239554,...,No,High School,2,Yes,No,1,90,172,30,4
1,36,Morbidity/mortality,July,Tuesday,Summer,118,13,18,50,239554,...,Yes,High School,1,Yes,No,0,98,178,31,0
2,3,Medical consultation,July,Wednesday,Summer,179,51,18,38,239554,...,No,High School,0,Yes,No,0,89,170,31,2
3,7,Eye and adnexa diseases,July,Thursday,Summer,279,5,14,39,239554,...,No,High School,2,Yes,Yes,0,68,168,24,4
4,11,Medical consultation,July,Thursday,Summer,289,36,13,33,239554,...,No,High School,2,Yes,No,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,Genitourinary system diseases,July,Tuesday,Summer,289,36,13,33,264604,...,No,High School,2,Yes,No,1,90,172,30,8
736,1,Digestive system diseases,July,Tuesday,Summer,235,11,14,37,264604,...,No,Post Graduate,1,No,No,1,88,172,29,4
737,4,Morbidity/mortality,January,Tuesday,Summer,118,14,13,40,271219,...,No,High School,1,Yes,No,8,98,170,34,0
738,8,Morbidity/mortality,January,Wednesday,Autumn,231,35,14,39,271219,...,No,High School,2,Yes,No,2,100,170,35,0
739,35,Morbidity/mortality,January,Friday,Winter,179,45,14,53,271219,...,No,High School,1,No,No,1,77,175,25,0

In [57]:
absent.to_csv('Absenteeism_treated.csv')